/* % IMPORT GOOGLE FONT */

/* $ Heading Font - Libre Caslon Display */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

/* $ Paragraph Font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/*^ POST & PAGES*/
/* $ POST, PAGES, SITE  */
.post,
.page,
.single-post .site .site-main,
.blog .site-main {
    margin: 0 !important;
    -webkit-margin: 0 !important;
    -moz-margin: 0 !important;
    -ms-margin: 0 !important;
    -o-margin: 0 !important;
}

/* @ ENTRY CONTENT */
.post .entry-content {
    margin-top: 3rem !important;
    padding: 1rem !important;
    -webkit-padding: 1rem !important;
    -moz-padding: 1rem !important;
    -ms-padding: 1rem !important;
    -o-padding: 1rem !important;
}

/* $ SITE MAIN */
.site-main {
    margin: 2rem 1rem;
    -webkit-margin: 2rem 1rem;
    -moz-margin: 2rem 1rem;
    -ms-margin: 2rem 1rem;
    -o-margin: 2rem 1rem;
}

.page-content,
.entry-content,
.entry-summary {
    max-width: 968px;
    margin: auto !important;
    -webkit-margin: auto !important;
    -moz-margin: auto !important;
    -ms-margin: auto !important;
    -o-margin: auto !important;
}

/* ^ HEADER */
/* $ ENTRY HEADER */
/* @ POST ENTRY HEADER CONTAINER */
.post>.entry-header {
    position: absolute;
    width: 100%;
}

/* @ POST ENTRY TITLE */
.post .entry-header .entry-title {
    margin-top: 5rem;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Libre Caslon Display', serif !important;
    font-size: 5rem;
    color: #c9bc3d;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

/* @ Entry Header Meta Text  */
.entry-header .entry-meta {
    margin: 7rem 0 0 3rem !important;
    color: white;
    -webkit-margin: 7rem 0 0 3rem !important;
    -moz-margin: 7rem 0 0 3rem !important;
    -ms-margin: 7rem 0 0 3rem !important;
    -o-margin: 7rem 0 0 3rem !important;
}

/* $ SITE HEADER */
/* @ TOP HEADER LVL HEADER CONTAINER */
.site-header {
    background-color: #324e75;
    padding: 10px 0 0;
    -webkit-padding: 10px 0 0;
    -moz-padding: 10px 0 0;
    -ms-padding: 10px 0 0;
    -o-padding: 10px 0 0;
}

/* $ NAVIGATION ICONS */
/* @ NAVIGATION ICON CONTAINER */
.main_icons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* @ NAVIGATION ICONS */
.icons {
    width: 2.5rem;
    height: 35px;
}

/* $ LOGO */
/* @ MAIN LOGO CONTAINER */
.logo_box {
    display: flex;
    justify-content: center;
    padding: 1rem;
    -webkit-padding: 1rem;
    -moz-padding: 1rem;
    -ms-padding: 1rem;
    -o-padding: 1rem;
}

/* @ MAIN LOGO */
#logo {
    width: 200px;
    height: auto;
}

/* @ WORDPRESS MAIN HEADER */
#header_section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 10px 0;
    -webkit-padding: 10px 0;
    -moz-padding: 10px 0;
    -ms-padding: 10px 0;
    -o-padding: 10px 0;
}

/* $ NAVIGATION */
/* @ NAVIGATION HEADER CONTAINER */
main .navigation {
    background: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
}

/* @ NAVIGATION STYLING */
.navigation {
    margin-top: 15px;
    background: #00a8b6;
    box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.2);
}

/* @ NAVIATION MENU ITEMS */
.main-navigation .menu-item a:hover {
    color: #324e75 !important;
}


/* $ HEADER SEARCH */
/* @ HEADER SEARCH CONTAINER */
header .search-bar-div {
    padding: 1rem;
    -webkit-padding: 1rem;
    -moz-padding: 1rem;
    -ms-padding: 1rem;
    -o-padding: 1rem;
    display: none;
}

/*  @ SEARCH FORM SUBMIT BUTTON */
.search-form .search-submit {
    background: #169367;
    color: #fffdfd;
    font-size: 1.1rem;
    padding: 0.8rem;
    -webkit-padding: 0.8rem;
    -moz-padding: 0.8rem;
    -ms-padding: 0.8rem;
    -o-padding: 0.8rem;
    margin: 0 0.5rem;
    -webkit-margin: 0 0.5rem;
    -moz-margin: 0 0.5rem;
    -ms-margin: 0 0.5rem;
    -o-margin: 0 0.5rem;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.2);
}

/* @ INPUT SEARCH PADDING */
input[type='search'] {
    padding: 1.3rem;
    -webkit-padding: 1.3rem;
    -moz-padding: 1.3rem;
    -ms-padding: 1.3rem;
    -o-padding: 1.3rem;
}


/* ^ FOOTER */
main footer {
    background: none !important;
}

footer {
    background: #324e75;
    color: white;
    padding-top: 20px;
}

.entry-footer {
    margin: 2rem 0;
    -webkit-margin: 2rem 0;
    -moz-margin: 2rem 0;
    -ms-margin: 2rem 0;
    -o-margin: 2rem 0;
}

#newsletter_container {
    display: flex !important;
    flex-direction: row;
}

.footer_info .menu-footer_section_1-container #footer_section_1,
.footer_info .menu-footer_section_2-container #footer_section_2 {
    display: flex;
    flex-direction: column;
    margin-left: -13px;
}

#footer_section_1 .menu-item>a,
#footer_section_2 .menu-item>a,
.rights p>a {
    color: white !important;
    font-size: 0.8rem;
}

.footer_title {
    font-size: 1.6rem;
    text-align: center !important;
}

.rights .footer_right_reserved {
    font-size: 0.8rem !important;
}

footer .footer_info {
    margin: 1rem 0;
    -webkit-margin: 1rem 0;
    -moz-margin: 1rem 0;
    -ms-margin: 1rem 0;
    -o-margin: 1rem 0;
}

.foot_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 5px;
    -webkit-padding: 5px;
    -moz-padding: 5px;
    -ms-padding: 5px;
    -o-padding: 5px;
    margin: 0.5rem 0;
    -webkit-margin: 0.5rem 0;
    -moz-margin: 0.5rem 0;
    -ms-margin: 0.5rem 0;
    -o-margin: 0.5rem 0;
}

a>.footer_text {
    color: white !important;
    font-size: 0.8rem;
}

#footer_section_1 .menu-item>a:hover,
#footer_section_2 .menu-item>a:hover,
a>.footer_text:hover,
.rights p>a:hover {
    color: #c9bc3d !important;
}

.footer_text {
    margin: 0 !important;
    -webkit-margin: 0 !important;
    -moz-margin: 0 !important;
    -ms-margin: 0 !important;
    -o-margin: 0 !important;
    padding: 0 !important;
    -webkit-padding: 0 !important;
    -moz-padding: 0 !important;
    -ms-padding: 0 !important;
    -o-padding: 0 !important;
}

.footer_icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;

}

#news_text {
    font-size: 0.8rem;
}

#news_text>a,
b>a {
    color: white;
    text-decoration: underline;
}

#newsletter {
    background: #000000;
    padding: 0 0 0 17px;
    -webkit-padding: 0 0 0 17px;
    -moz-padding: 0 0 0 17px;
    -ms-padding: 0 0 0 17px;
    -o-padding: 0 0 0 17px;
    color: #ffffff;
}


#arrow {
    cursor: pointer;
    font-size: 27px;
    position: absolute;
    color: white;
    left: 90%
}

.site-info {
    padding-top: 17px;
}


/* # WOOCOMMERCE */
.product-category .count {
    background: none !important;
}

.product-category .woocommerce-loop-category__title {
    font-size: 1.4rem !important;
    color: black !important;
}

.woocommerce .woocommerce-info {
    border-top-color: #c9bc3d !important;
    background: #f5f5f5 !important;
}

/* $ CART PAGE */
#post-121 .woocommerce {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 2fr;
}

.woocommerce-cart-form {
    grid-column: 1;
}

.cart-collaterals {
    grid-column: 2;
}

.cart-collaterals .cart_totals {
    width: 100% !important;
    padding: 2rem;
    -webkit-padding: 2rem;
    -moz-padding: 2rem;
    -ms-padding: 2rem;
    -o-padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
}

.coupon #coupon_code {
    width: 7rem !important;
}

.wc-proceed-to-checkout {
    grid-row: 3;
    grid-column: 1/3;
}

.cart_totals>h2 {
    font-size: 1.5rem;
    grid-row: 1;
    text-align: center;
    grid-column: 1/3;
    text-transform: capitalize;
}


/* $ SHOP PAGE */
.price {
    font-size: 1.2rem !important;
}

/* $ CHECKOUT PAGE */
.input-text,
.woocommerce-checkout-review-order-table,
.woocommerce-checkout-payment {
    border: #c9bc3d solid 0.1rem !important;
}

.woocommerce-checkout-review-order-table thead tr th,
.woocommerce-checkout-review-order-table tfoot {
    font-size: 1.3rem;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background-color: #f5f5f5 !important;
}

.wc-proceed-to-checkout .checkout-button,
.product_type_simple {
    color: #ffffff !important;
    background: #000000 !important;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
    font-family: forma-djr-display, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* $ SINGLE PRODUCT PAGE */
.single-product .product .cart {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.woocommerce-variation-add-to-cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.woocommerce-variation-add-to-cart>.quantity {
    grid-row: 1;
    grid-column: 1;
}

.woocommerce-variation-add-to-cart>.price {
    grid-row: 1;
    grid-column: 2;
}

.woocommerce-cart-form__cart-item .product-thumbnail a .size-woocommerce_thumbnail {
    width: 162px;
}

.woocommerce-variation-add-to-cart>.single_add_to_cart_button {
    grid-row: 2;
    grid-column: 1/3;
    margin: auto !important;
    -webkit-margin: auto !important;
    -moz-margin: auto !important;
    -ms-margin: auto !important;
    -o-margin: auto !important;
}

.price {
    color: black !important;
    grid-row: 1;
    grid-column: 1;
}

.quantity {
    grid-row: 1;
    grid-column: 3;
}

.single_add_to_cart_button {
    width: 11rem;
    background-color: #000000 !important;
    grid-row: 2;
    grid-column: 2;
}

.tabs>li {
    padding: 0 1rem !important;
    -webkit-padding: 0 1rem !important;
    -moz-padding: 0 1rem !important;
    -ms-padding: 0 1rem !important;
    -o-padding: 0 1rem !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    border-bottom: #c9bc3d solid 0.3rem !important;
}

.product-quantity::before {
    margin-right: 1rem;
}

.cart_totals>.shop_table {
    grid-row: 2;
    grid-column: 1/3;
    background-color: #f5f5f5;
}


.woocommerce-tabs .tabs {
    margin: 0;
    -webkit-margin: 0;
    -moz-margin: 0;
    -ms-margin: 0;
    -o-margin: 0;
    border: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce-tabs ul.tabs::before,
.description_tab .active,
.woocommerce-tabs .description_tab,
.woocommerce-tabs ul.tabs li {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
}

/* $ MY ACCOUNT PAGE */
.is-active {
    box-shadow: 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.2);
}

#billing_country_field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.woocommerce-billing-fields>h3,
#order_review_heading,
.woocommerce-additional-fields>h3,
.woocommerce-EditAccountForm fieldset legend {
    font-size: 2rem !important;
    text-align: center;
    text-transform: capitalize;
}

.woocommerce-account .entry-header h1 {
    text-transform: capitalize;
}

.woocommerce-billing-fields__field-wrapper .form-row label,
.woocommerce-additional-fields__field-wrapper .form-row label,
.woocommerce-EditAccountForm p label {
    font-weight: bolder;
    text-transform: capitalize;
}

.woocommerce-MyAccount-navigation-link {
    text-transform: capitalize !important;
    margin: 2rem 0 !important;
    -webkit-margin: 2rem 0 !important;
    -moz-margin: 2rem 0 !important;
    -ms-margin: 2rem 0 !important;
    -o-margin: 2rem 0 !important;
    border: 0.3rem solid #c9bc3d;
    padding: 1rem !important;
    -webkit-padding: 1rem !important;
    -moz-padding: 1rem !important;
    -ms-padding: 1rem !important;
    -o-padding: 1rem !important;
    background: rgba(225, 225, 225, 0.2);
}

.woocommerce-MyAccount-navigation-link>a {
    font-size: 1.3rem;
}

.woocommerce-MyAccount-navigation-link>a:hover {
    color: #c9bc3d !important;
}

.woocommerce-MyAccount-content .woocommerce-EditAccountForm {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.edit-account>.woocommerce-form-row {
    width: 100% !important;
}

.edit-account>fieldset {
    width: 100% !important;
}

.woocommerce-info::before {
    color: #00b76a !important;
}

.woocommerce .woocommerce-MyAccount-content {
    margin-top: 2rem;
    padding: 0 2rem;
    -webkit-padding: 0 2rem;
    -moz-padding: 0 2rem;
    -ms-padding: 0 2rem;
    -o-padding: 0 2rem;
}

.woocommerce-MyAccount-navigation ul {
    list-style: none;
}

.is-active,
.is-active>a {
    color: white !important;
    background: #324e75 !important;
}



/* % BLOG */
.blog_paragraph {
    padding: 1rem 0;
    -webkit-padding: 1rem 0;
    -moz-padding: 1rem 0;
    -ms-padding: 1rem 0;
    -o-padding: 1rem 0;
}

.site_blog_content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    -webkit-margin: 0 auto;
    -moz-margin: 0 auto;
    -ms-margin: 0 auto;
    -o-margin: 0 auto;
}

.site_blog_content>.blog-content {
    width: 40%;
    margin: 1rem;
    -webkit-margin: 1rem;
    -moz-margin: 1rem;
    -ms-margin: 1rem;
    -o-margin: 1rem;
}

.comments-link {
    padding: 1rem;
    -webkit-padding: 1rem;
    -moz-padding: 1rem;
    -ms-padding: 1rem;
    -o-padding: 1rem;
    margin: 1rem;
    -webkit-margin: 1rem;
    -moz-margin: 1rem;
    -ms-margin: 1rem;
    -o-margin: 1rem;
}

.comments-link>a {
    text-decoration: underline;
    color: black;
}

.blog .tags-links>a {
    color: #c9bc3d;
    text-decoration: underline;
}

.blog .tags-links>a:hover {
    color: #1792e2;
    text-decoration: underline;
}

.blog-content .blog_post_title>a {
    font-size: 2.3rem !important;
    text-transform: capitalize;
    color: #c9bc3d;
}


/* $ HOMEPAGE */

/* % MAIN HOME STYLING */
.home #primary {
    margin: 0;
    -webkit-margin: 0;
    -moz-margin: 0;
    -ms-margin: 0;
    -o-margin: 0;
}

.home .entry-content {
    max-width: 100%;
}


/*@ TOP HOME CONTENT CONTAINER */
.front_header {
    height: 75vh;
}

.center_align {
    background-color: #f6f6f6;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home_text {
    text-align: center;
    font-family: 'Libre Caslon Display', serif !important;
}

.main_thumb {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

/* # INDIVIDUAL: MODEL - FEMALE CONTAINER */
.model_feature_1 {
    color: black;
    background-color: #f6f6f6;
}

/* # INDIVIDUAL: MODEL - MALE CONTAINER */
.model_feature_2 {
    color: white;
    background-color: #222222;
}

/* % MODEL - IMAGE */
.thumbnail_post_image {
    height: 100%;
    width: 100%;
}

/*  # MODEL IMAGE REMOVE MARGIN  */
.model_feature_1 .wp-block-column .wp-block-image,
.model_feature_2 .wp-block-column .wp-block-image {
    margin-bottom: 0 !important;
}

/* # MODEL MAIN STYLING */
.model_feature_1 .wp-block-columns,
.model_feature_2 .wp-block-columns {
    max-width: 1008px;
    padding: 1rem 2rem 0;
    -webkit-padding: 1rem 2rem 0;
    -moz-padding: 1rem 2rem 0;
    -ms-padding: 1rem 2rem 0;
    -o-padding: 1rem 2rem 0;
    margin: auto;
    -webkit-margin: auto;
    -moz-margin: auto;
    -ms-margin: auto;
    -o-margin: auto;
}

/* # LINKS UNDER IMAGE AND MAIN TEXT */

/* $ ALIGN UL LIST OF MEN, WOMEN, KIDS, ETC */
.flex_links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;
    -webkit-margin: 2rem 0;
    -moz-margin: 2rem 0;
    -ms-margin: 2rem 0;
    -o-margin: 2rem 0;
}

/* $ STYLING LI FROM FLEX LINKS */
.item_home {
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
}


.read_more>a {
    color: #1792e2;
    font-weight: bold;
}

.wp_blog_img {
    width: 100%;
}







/* % MEDIA QUERYS */

@media only screen and (min-width:1024px) {
    #nav {
        display: none;
    }
}

@media only screen and (max-width:768px) {
    .footer_right_reserved {
        text-align: center !important;
    }

    #post-121 .woocommerce {
        display: grid !important;
        grid-template-columns: 2fr 2fr !important;
        grid-template-rows: 2fr 2fr !important;
    }

    .woocommerce-cart-form {
        grid-column: 1/3 !important;
        grid-row: 1 !important;
    }

    .cart-collaterals {
        grid-column: 1/3 !important;
        grid-row: 2 !important;
    }

    .site_blog_content {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        -webkit-margin: 0 auto;
        -moz-margin: 0 auto;
        -ms-margin: 0 auto;
        -o-margin: 0 auto;
    }

    .site_blog_content>.blog-content {
        width: 90%;
    }

    .entry-content {
        margin: 0 1rem !important;
        -webkit-margin: 0 1rem !important;
        -moz-margin: 0 1rem !important;
        -ms-margin: 0 1rem !important;
        -o-margin: 0 1rem !important;
        padding: 0 !important;
        -webkit-padding: 0 !important;
        -moz-padding: 0 !important;
        -ms-padding: 0 !important;
        -o-padding: 0 !important;
    }
}


/* % TEXT STYLING */
h3 {
    color: #000000;
}

h4 {
    color: #ffffff;
}

p>a {
    color: #000000;
    text-decoration: underline;
}

.body-paragraph {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.5px;
}

.woocommerce-billing-fields__field-wrapper label,
.woocommerce-additional-fields__field-wrapper label {
    font-size: 1.2rem;
}

.woocommerce-input-wrapper strong {
    font-size: 1.5rem;
    text-align: right;
}

.entry-content>h2 {
    font-size: 2rem;
}

.entry-title {
    font-family: fino-sans, sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin: 2rem 0;
    -webkit-margin: 2rem 0;
    -moz-margin: 2rem 0;
    -ms-margin: 2rem 0;
    -o-margin: 2rem 0;
}

.main-heading,
.extra-main-heading,
.editor-styles-wrapper h1 {
    font-family: 'Libre Caslon Display', serif;
    font-weight: 600;
    font-style: normal;
    font-size: 100px;
}

.extra-main-heading {
    color: #000000;
}

.menu-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
}


.entry-title>a {
    color: #c9bc3d;
}

.entry-title>a:hover {
    color: #324e75;
}

.product_title {
    text-align: left !important;
}

.menu-item {
    font-size: 20px;
    padding: 1rem;
    -webkit-padding: 1rem;
    -moz-padding: 1rem;
    -ms-padding: 1rem;
    -o-padding: 1rem;
}

.menu-item>a {
    color: white !important;
    padding: 0 !important;
    -webkit-padding: 0 !important;
    -moz-padding: 0 !important;
    -ms-padding: 0 !important;
    -o-padding: 0 !important;
}

.entry-title,
.is-style-about-page-numbers-primary {
    text-align: center;
}

.onsale {
    background-color: #324e75 !important;
}

.sub-heading-primary {
    font-size: 30px !important;
}

.about-page-numbers-primary {
    font-size: 25px;
    font-family: forma-djr-display, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.woocommerce-loop-product__title {
    font-size: 1.5rem !important;
    color: black;
}

.has-text-align-center {
    margin: 0 0 4rem 0;
    -webkit-margin: 0 0 4rem 0;
    -moz-margin: 0 0 4rem 0;
    -ms-margin: 0 0 4rem 0;
    -o-margin: 0 0 4rem 0;
}


/* $ WORD PRESS IMAGE */
.post-thumbnail>.wp-post-image {
    height: 70vh;
    width: 100%;
}

.wp-block-image .item-image .block-editor-block-list__layout .wp-block {
    width: 175px;
    height: 275px;
}

.block-editor-block-list__layout .wp-block .featured-image {
    width: 50%;
    height: 65%;
}

.summary .variations .label {
    background: none !important;
    margin-left: 1rem;
}



/*$ BUTTON STYLES */
p>.woocommerce-Button {
    background-color: rgb(220, 220, 220) !important;
    color: #222222 !important;
    margin-top: 1rem !important;
}

.wp-block-button__link {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background: #000000;
}

.actions .coupon .button {
    background-color: #169367;
    color: white !important;
}

.actions>.button {
    background-color: #1792e2 !important;
    color: rgb(255, 255, 255) !important;
    box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.2) !important;
    -ms-box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.2) !important;
    -o-box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.2) !important;
}

.add_to_cart_button {
    margin-left: 20% !important;
}

.contact-btn .wp-block-button {
    color: white;
    background-color: #000000;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.is-btn .wp-block-button_link .wp-block-button,
.woocommerce-checkout-review-order #payment .button,
.nf-form-content input[type=button] {
    color: #ffffff;
    background: #000000 !important;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
    font-family: forma-djr-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.5px;
}


/* % SVG ICON COLOURS */
#instagram,
#nav,
#search_icon,
#twitter,
#facebook,
#cart,
#account,
#youtube,
#snapchat {
    fill: #c9bc3d;
    cursor: pointer;
}


/* % NINJA FORM STYLES */
.nf-field-element .ninja-forms-field {
    border: 0.1rem #c9bc3d solid !important;
    background-color: #fffdfd;
}

.ninja-forms-field ::placeholder {
    color: rgb(46, 46, 46) !important;
}

.nf-form-fields-required {
    display: none !important;
}