.entry-content {
    max-width: 968px;
    margin: auto;
    -webkit-margin: auto;
    -moz-margin: auto;
    -ms-margin: auto;
    -o-margin: auto;
}

/* HEADING FONT - FINO SANS */
@import url("https://use.typekit.net/pcc6ezi.css");

.main-heading,
.extra-main-heading {
    font-family: fino-sans, sans-serif !important;
    font-size: 100px;
    font-weight: 400;
    font-style: normal;
    color: #c9bc3d;
}

.extra-main-heading {
    color: #000000;
}

.entry-title {
    font-family: fino-sans, sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}


/* SUB-HEADING FONT - FUTURA */
@import url("https://use.typekit.net/pcc6ezi.css");


.nav_item {
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 500;
    font-style: normal;
}

h3 {
    color: #000000;
}

h4 {
    color: #ffffff;
}

/* SUB-HEADING FONT - FUTURA */
@import url("https://use.typekit.net/pcc6ezi.css");

.body-paragraph {
    font-family: forma-djr-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.5px;
}

p>a {
    color: #000000;
    text-decoration: underline;
}

.sub-heading-primary {
    font-size: 30px !important;
}

/* BUTTON STYLES */
.wp-block-button__link {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background: #000000;
}

.contact-btn .wp-block-button {
    color: white;
    background-color: #000000;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.is-btn .wp-block-button_link .wp-block-button {
    color: #ffffff;
    background: #000000;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
    font-family: forma-djr-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1.5px;
}

header {
    background-color: #324e75;
}

.social_container {
    background: green;
    width: 50px;
}

.main_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.site-header {
    padding: 10px 0 0;
    -webkit-padding: 10px 0 0;
    -moz-padding: 10px 0 0;
    -ms-padding: 10px 0 0;
    -o-padding: 10px 0 0;
}

.logo_box {
    display: flex;
    justify-content: center;
}

#logo {
    width: 250px;
    height: auto;
}

.icons {
    width: 25%;
    height: 66px;
    background-color: #fff;
}

.navigation {
    margin-top: 5px;
    background: #00a8b6;
    box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.2);
}

footer {
    background: #324e75;
    color: white;
    padding-top: 50px;
}

.gold-separator .is-style-gold-separator {
    color: #c9bc3d;
}

.about-page-numbers-primary {
    font-size: 25px;
    font-family: forma-djr-display, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav_list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 10px;
}

.nav_item {
    font-size: 22px;
    color: white;
}


/* FOOTER */
.foot_item {
    list-style: none;
    margin-left: -23px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    -webkit-padding: 5px;
    -moz-padding: 5px;
    -ms-padding: 5px;
    -o-padding: 5px;
}


.footer_icon {
    width: 35px;
    height: 35px;
    background: blue;
    margin-right: 5px;
}

#news_text {
    font-size: 13px;
}

#news_text>a,
b>a {
    color: white;
    text-decoration: underline;
}

#newsletter {
    background: #000000;
    padding: 0 0 0 15px;
    -webkit-padding: 0 0 0 15px;
    -moz-padding: 0 0 0 15px;
    -ms-padding: 0 0 0 15px;
    -o-padding: 0 0 0 15px;
    color: #ffffff;
}

form {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#arrow {
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    color: white;
    left: 90%
}

.site-info {
    padding-top: 15px;
}


.entry-title,
.is-style-about-page-numbers-primary {
    text-align: center;
}